*
  box-sizing: border-box

a
  text-decoration: none
  color: inherit

p
  margin: 0

ul
  margin: 0
  padding: 0
  list-style: none

.container
  width: 100%
  max-width: 1600px
  margin-left: auto
  margin-right: auto

.svg-icon
  width: 20px
  height: 20px
  fill: #000000

.button
  display: flex

.social-button
  display: flex
  align-items: center
  column-gap: 10px
