*
  box-sizing: border-box
  font-family: 'Inter'
  font-size: 16px
  line-height: 24px
  font-style: normal
  font-weight: 400

body
  background-color: $bg-color

a
  text-decoration: none
  color: inherit

p
  margin: 0

ul
  margin: 0
  padding: 0
  list-style: none

section
  padding-bottom: 160px

.container
  width: 100%
  max-width: 1600px
  margin-left: auto
  margin-right: auto

.logo-link
  display: flex
  height: 56px
.logo
  height: inherit

.svg-icon
  width: 20px
  height: 20px
  fill: #000000

.button
  width: 100%
  max-width: 464px
  padding: 12px 36px
  display: flex
  align-items: center
  justify-content: center
  font-weight: 600
  text-align: center
  border-radius: 12px
  &--fill
    color: #FFFFFF
    background: $base-color
  &--outline
    color: $base-color-darker
    border: 2px solid $base-color-darker

.social-button
  padding: 8px 24px 8px 16px
  display: flex
  align-items: center
  column-gap: 10px
  font-weight: 500
  line-height: 19px
  border-radius: 8px
  border: 1px solid
  &--green
    color: $base-color
    border-color: $base-color
    & > svg
      fill: $base-color
  &--blue
    color: #34A8DB
    border-color: #34A8DB
    & > svg
      fill: #34A8DB

.section-header
  display: flex
  flex-direction: column
  align-items: center
  row-gap: 8px
  margin-bottom: 55px
  &__title
    margin: 0
    font-family: 'Comfortaa'
    font-size: 56px
    line-height: 52px
    font-weight: 700
    color: $base-color-darker
    text-align: center
    text-transform: uppercase
  &__subtitle
    font-family: 'Comfortaa'
    font-weight: 700
    font-size: 24px
    line-height: 29px
    color: $base-color
    text-align: center

.page-title
  margin-bottom: 80px
  text-align: center

.splide
  &__track
    padding-bottom: 10px
  &__arrow
    width: 56px
    height: 56px
    background-color: $base-color
    opacity: 1
    &--prev
      left: 0
    &--next
      right: 0
