.advantages
  &__wrapper
    display: grid
    grid-template-columns: 40% 40%
    grid-auto-rows: 1fr
    justify-content: space-between
    row-gap: 16px
  &__item
    display: flex
    align-items: center
    column-gap: 24px
